<div class="comment">
<div class="comment-display" id="comment-display-<%= "#{table}-#{column}" %>">
    <%= render 'comment_display', table: table, column: column %>
  </div>

  <%= form_with url: commenter_index_path, method: "post", html: { style: "display: none" } do |f| %>
    <%= f.hidden_field :table, id: "table-#{table}-#{column}", value: table %>
    <%= f.hidden_field :column, id: "column-#{table}-#{column}", value: column %>

    <div class="input-group">
      <%= f.text_area :comment,
        id: "comment-#{table}-#{column}",
        class: "form-control",
        value: @comments[table][column],
        required: true, autocomplete: 'off' %>
    </div>
    <div style="display: none"><%= f.submit %></div>
  <% end %>
</div>
